/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #FFFEF8;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

body .edit-mode-banner {
	max-width: none;
	width: 1500px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.edit-mode-banner {
	color: white;
	background-color: black;
	text-align: center;
	padding: 20px;
}

.edit-mode-banner i {
	color: white;
	background-color: black;
	font-size: 12px;
	margin: 10px;
}

header > div {
	width: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 0;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

.hidden {
	display: none;
}

#login-link a {
	color: black;
	text-decoration: none;
}

.login-page {
font-weight: bold;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.edit-projects {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.project-options {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-left: 20px;
	color: black;
	text-decoration: none;
}

.project-options i {
	padding-right: 10px;
}

.categories-menu {
    display: flex;
    justify-content: center;
}

.categories-menu button {
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 10px;
    cursor: pointer;
    background-color: white;
    color: #1D6154;
    font-size: 16px;
	font-family: 'Syne';
}

.categories-menu button.active {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact,
#login > * {
	text-align: center;

}
#contact h2,
#login h2{
	margin-bottom: 20px;
}

#contact form,
#login form,
#myModal form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#error-container {
	color: red;
	font-weight: bold;
}

.password-forgot {
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

.password-forgot:hover {
	cursor: pointer;
	text-decoration: underline;
}

footer {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    height: 25vh; 
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
	background-color: white;
	padding: 20px;
	width: 45%;
	height: 650px;
	border-radius: 10px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-photo-gallery,
.modal-add-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.modal-close {
	color: black;
	font-weight: bold;
	font-size: 2.25rem;
	align-self: flex-start;
	margin-left: auto;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
}

.modal-title {
	font-size: 26px;
	padding: 10px;
}

.modal .hidden {
	display: none;
}

.modal-gallery-wrapper {
	padding: 20px 50px;
	margin: 20px 50px 40px 50px;
}

.modal-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.modal-gallery figure {
	position: relative;
}

.modal-gallery figure::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.modal-gallery img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}

.modal-gallery figcaption {
	display: none;
}

.modal-line {
	border: none;
	border-top: 2px solid #B3B3B3;
	width: 500px;
}

.fa-trash-can {
	position: absolute;
	right: 5px;
	top: 10px;
	cursor: pointer;
	background-color: black;
	color: white;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.modal-addition-button {
	font-size: 14px;
	color: #FFFFFF;
	font-family: Syne;
	background-color: #1D6154;
	border: none;
	border-radius: 60px;
	padding: 10px 50px;
	margin: 20px;
	cursor: pointer;
}

.modal-add-photo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.modal-add-photo-container a {
	text-decoration: none;
}

.fa-arrow-left {
	font-size: 23px;
	color: black;
}

#upload-form {
	width: 500px;
}

#image-preview {
	max-width: 100%;
	max-height: 100px;
	height: auto;
	display: none;
}

.file-input-wrapper {
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.file-input-wrapper input[type="file"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
}

.file-input-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	border: 1px solid #E8F1F6;
	border-radius: 10px;
	background-color: #E8F1F6;
	padding: 10px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.file-input-label i {
	font-size: 76px;
	color: #B9C5CC;
	background-color: #E8F1F6;
	padding: 10px;
}

.upload-photo-button {
	font-size: 14px;
	color: #306685;
	background-color: #CBD6DC;
	font-size: Work Sans;
	border-radius: 50px;
	padding: 10px 40px;
	border: none;
}

.upload-photo-info {
	font-size: 12px;
	padding: 10px;
	background-color: #E8F1F6;
	color: #444444;
}

#photo-title,
#photo-category {
	margin: 10px 0 30px;
	background-color: #FFFFFF;
	height: 51px;
	box-shadow: 1px 4px 14px 0 rgba(0,0,0,0.2);
	border: none;
	font-size: 14px;
	color: #3D3D3D;
}

.label-title-modal {
	font-size: 14px;
	color: #3D3D3D;
}

.add-photo-button {
	color: #FFFFFF;
	background-color: #A7A7A7;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 90px;
	border: none;
	border-radius: 60px;
	margin: 20px;
	cursor: pointer;
}
